<!DOCTYPE html>
<html>
<head>
  <title>TrackerHours</title>
  <meta content='width = device-width' name='viewport'/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  <link rel="apple-touch-startup-image" href="/apple-startup.png">  
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all  %>
  <script type="text/javascript">
    function clickclear(thisfield, defaulttext) {
      if (thisfield.value == defaulttext) {
        thisfield.value = "";
      }
    }
    function clickrecall(thisfield, defaulttext) {
      if (thisfield.value == "") {
        thisfield.value = defaulttext;
      }
    }
  </script>
  <%= csrf_meta_tag %>
</head>
<body <% if @normal %>id="normal"<% end %>>
<%= yield %>

</body>
</html>
